// LOADING

.loading {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: $bg;
	transition: .5s;
}

// Progress bar
.nprogress {
	pointer-events: none;
	.bar {
		position: fixed;
		z-index: 101;
		top: 0;
		left: 0;
		width: 100%;
		height: 4px;
		background: linear-gradient(90deg, $light-blue, $pink, $yellow, $light-blue);
		background-size: 400%;
		animation: loading-animation 8s linear infinite;
		&:before {
			content: '';
			position: absolute;
			z-index: 100;
			top: -5px;
			left: -5px;
			right: -5px;
			bottom: -1px;
			border-radius: 30px;
			background: linear-gradient(90deg, $light-blue, $pink, $yellow, $light-blue);
			background-size: 400%;
			filter: blur(5px);
			opacity: 1;
			animation: loading-animation 8s linear infinite;
		}
	}
}

@keyframes loading-animation {
	0%{
		background-position: 0%;
	}
	100%{
		background-position: 400%;
	}
}